---
import Layout from "../layouts/Layout.astro";
import Drinks from "../components/Drinks.astro";
---

<Layout title="Drinks · BLACKMOOR">
  <main class="pt-32">
    <h1 class="sr-only">Drinks BLACKMOOR</h1>
    <Drinks />
  </main>
</Layout>
