---
import Layout from "../layouts/Layout.astro";
import Family from "../components/Family.astro";
---

<Layout title="A Família · BLACKMOOR">
  <main class="pt-32">
    <h1 class="sr-only">A Família BLACKMOOR</h1>
    <Family showCTA={false} />
  </main>
</Layout>
